# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

temp.csv

# Other ignores you already have


# Virtual Environment
venv/

# Environment Variables
.env

# IDEs / Editors
.vscode/
.idea/

# Data files
data/

# Logs
*.log

# Pytest cache
.pytest_cache/

# OS
.DS_Store
Thumbs.db

TODO.md
CONCEPTS.md
tests/test_data/student_score.csv